@import "../../../styles.scss";

.menu {
  display: flex;
}

.black-bar {
  background-color: black;

  // Center the logo
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    .logo-container__img {
      width: 30px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  margin-right: 70px;
  align-items: center;
}
