/* 
   CSS Reset 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	Color variables
*/
$gray: rgb(147, 147, 147);
$blue: rgb(117, 198, 245);

/*
	Customized Styles
*/
button {
  cursor: pointer;
  font-size: 12px;
  color: $gray;
  margin: 10px;
}

.raised {
  color: white;
  background-color: $blue;
  margin: 10px;
  padding: 8px;
  border-radius: 14px;
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form__title {
    font-size: 26px;
    font-weight: bolder;
    margin: 10px;
  }
  .form__sub-title {
    font-size: 12px;
    margin: 10px;
  }
  .form__content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: flex-start;
    label {
      width: 250px;
      display: flex;
      justify-content: space-between;
    }

    .submit__button {
      margin-left: 0;
    }
    .top-error {
      font-size: 10px;
      margin-bottom: 10px;
      color: red;
    }
    .inline-error {
      font-size: 10px;
      margin: 4px 0 4px 0;
      color: red;
    }
    .form__input {
      margin-bottom: 10px;
    }
  }
}
